.header{
  display: flex;
  justify-content: space-between;
  color: darkblue;
  margin: 10pt 10pt 50pt;
  font-weight: bolder;
}

.grid_main{
  display: grid;
  grid-template-rows:4fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10pt 0pt;
}

.message{
  grid-row: 1/2;
  grid-column: 1/2; 
  text-align: bottom;
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
}

.blue {
  grid-row: 2/4;
  grid-column: 1/3;
  background: darkblue;
}

.firstview{
  grid-row: 1/3;
  grid-column: 2/4;
  height: 50vh;
  width: auto;
}

